{
  "extends": ["standard"],
  "env": {
    // "node": true,
    // "es6": true,
    // "browser": false
  },
  "rules": {
    "no-console": "off",
    "no-plusplus": "off",
    "comma-dangle": ["error", "never"],
    "promise/param-names": "off",
    "newline-per-chained-call": ["error", { "ignoreChainWithDepth": 1 }]
  }
}
