# Sample gitconfig
#
# https://github.com/skwp/dotfiles/blob/master/git/gitconfig

[include]
	path = ~/.private/.gitconfig-user
	path = ~/.dotjitsu/.gitconfig-alias

[includeIf "gitdir:~/work/"]
    path = ~/.private/.gitconfig-work

[hub]
	protocol = https

[log]
  # Use abbrev SHAs whenever possible/relevant instead of full 40 chars
  abbrevCommit = true
#   date = iso

[color]
	ui = true

[init]
	templatedir = ~/.dotjitsu/packages/git/templates
	defaultBranch = main

[pager]

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]
	meta = yellow
	frag = magenta bold
	old = red bold
	new = green bold
	commit = yellow bold
	whitespace = red reverse

[format]
	pretty = format:%C(blue)%ad%Creset %C(yellow)%h%C(green)%d%Creset %C(blue)%s %C(magenta) [%an]%Creset

[core]
	attributesfile = ~/.gitattributes
	autocrlf = input
	commitGraph = true
	compression = 1
	editor = micro
	excludesfile = ~/.gitignore
	ignorecase = false
	packedGitLimit = 1512m
	packedGitWindowSize = 1512m
	quotepath = false

[transfer]
	compression = 1

[pack]
	compression = 6
	threads = 16
	useZstd = true
	deltaCacheSize = 256m
	windowMemory = 256m
	allowPackReuse = true
	writeReverseIndex = true

[branch]
	autosetuprebase = always

[apply]
	whitespace = nowarn

[mergetool]
	keepBackup = false

[help]
	autocorrect = 1

[push]
	recurseSubmodules = check
# See `git help config` (search for push.default)
# for more information on different options of the below setting.
	default = simple
	autoSetupRemote = true

[rerere]
	# Remember my merges
	# http://gitfu.wordpress.com/2008/04/20/git-rerere-rereremember-what-you-did-last-time/
	enabled = true

[core]
    pager = delta
	fsmonitor = true
	preloadindex = true
	fscache = true

[interactive]
    diffFilter = delta --color-only

[delta]
	features = side-by-side line-numbers decorations omit-code-fragment
	true-color = always
    whitespace-error-style = 22 reverse
    line-numbers = true
	paging = never
	navigate = true
    hyperlinks = true
    hyperlinks-file-link-format = "vscode://file/{path}:{line}"
    zero-style = dim syntax
	theme = 1337

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none

    # hunk-header-style = line-number omit-code-fragment
	# hunk-header-decoration-style = none
    # hunk-header-file-style = red
    # hunk-header-line-number-style = "#067a00"
    # hunk-header-style = none

[diff]
	colorMoved = default
    tool = smartsynchronize
	context = 1

[merge]
	conflictStyle = zdiff3

[difftool]
	prompt = false
	colorMoved = default

[difftool "smartsynchronize"]
    cmd = /Applications/SmartSynchronize.app/Contents/MacOS/SmartSynchronize $LOCAL $REMOTE

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[gc]
	autoDetach = false
	writeCommitGraph = true
	auto = 0

[commit]
	gpgSign = false
	verbose = true

[pull]
	# rebase = true
	ff = only
	prune = true
	twohead = ort # https://git-scm.com/docs/merge-strategies#Documentation/merge-strategies.txt-ort

[tig]
	line-graphics = yes # Disable graphics characters
	tab-size = 4 # Number of spaces per tab
	mouse = no

[fetch]
	prune = true
	pruneTags = true

[gui]
	pruneDuringFetch = true

[gitflow "branch"]
	develop = master
	master =

[gitflow "prefix"]
	feature = feature/
	release = release/
	hotfix = hotfix/
	support = support/
	versiontag = v

[http]
	postBuffer = 524288000

[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22

[diff-so-fancy]
	first-run = true

[grep]
	extendRegexp = true
	lineNumber = true

[gpg]
	#program = gpg2

[submodule]
	recurse = true
	fetchJobs = 10

[ghq]
	root = ~/code

[rebase]
	stat = true
	autostash = true
	autosquash = true

[smartgit "submodule"]
	fetchalways = false
	update = true
	initializenew = true

[taggrouping]
	groups =
	singles =

[tag]
  # Sort tags as version numbers whenever applicable, so 1.10.2 is AFTER 1.2.0.
  sort = version:refname

[versionsort]
  prereleaseSuffix = -pre
  prereleaseSuffix = .pre
  prereleaseSuffix = -beta
  prereleaseSuffix = .beta
  prereleaseSuffix = -rc
  prereleaseSuffix = .rc

[protocol]
	version = 2

[credential]
	helper = $HOMEBREW_PREFIX/share/gcm-core/git-credential-manager-core
	helper =
	helper = /usr/local/share/gcm-core/git-credential-manager

# [url "ssh://git@github.com"]
# 	insteadOf = https://github.com
[url "ssh://github.com/"]
	pushInsteadOf = https://github.com/
[url "ssh://gitlab.com/"]
	pushInsteadOf = https://gitlab.com/
[alias]
	trash = !mkdir -p .trash && git ls-files --others --exclude-standard | xargs mv -f -t .trash
[credential "https://gametechgit.gamesglobal.com"]
	provider = generic
[advice]
	statusHints = off

# Problematic with mise
# [remote "origin"]
# 	tagopt = "--tags -f"
[credential "https://github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential
