# Sample gitconfig
#
# https://github.com/skwp/dotfiles/blob/master/git/gitconfig

[include]
	path = ~/.private/.gitconfig-user
	path = ~/.dotjitsu/.gitconfig-alias

[includeIf "gitdir:~/work/"]
    path = ~/.private/.gitconfig-work

[hub]
	protocol = https

[color]
	ui = true

[init]
	templatedir = ~/.dotjitsu/packages/git/templates
	defaultBranch = main

[pager]
	# insanely beautiful diffs ==> npm install -g diff-so-fancy
	#diff = diff-so-fancy# | less --tabs=4 -RFX
	#show = diff-so-fancy# | less --tabs=4 -RFX

# [interactive]
# 	diffFilter = diff-so-fancy

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]
	meta = yellow
	frag = magenta bold
	old = red bold
	new = green bold
	commit = yellow bold
	whitespace = red reverse

[format]
	pretty = format:%C(blue)%ad%Creset %C(yellow)%h%C(green)%d%Creset %C(blue)%s %C(magenta) [%an]%Creset

[core]
	attributesfile = ~/.gitattributes
	autocrlf = input
	commitGraph = true
	compression = 1
	editor = micro
	excludesfile = ~/.gitignore
	ignorecase = false
	packedGitLimit = 1512m
	packedGitWindowSize = 1512m
	quotepath = false

[pack]
	deltaCacheSize = 1024m
	packSizeLimit = 1024m
	windowMemory = 1024m
	allowPackReuse = true
	threads = 16
	useSparse = true
	writeReverseIndex = true

[branch]
	autosetuprebase = always

[apply]
	whitespace = nowarn

[mergetool]
	keepBackup = false

[help]
	autocorrect = 1

[push]
	recurseSubmodules = check
# See `git help config` (search for push.default)
# for more information on different options of the below setting.
#
# Setting to git 2.0 default to suppress warning message
	default = simple

[rerere]
	# Remember my merges
	# http://gitfu.wordpress.com/2008/04/20/git-rerere-rereremember-what-you-did-last-time/
	enabled = true

[core]
    pager = delta
	fsmonitor = true
	preloadindex = true
	fscache = true

[interactive]
    diffFilter = delta --color-only

[delta]
	features = side-by-side line-numbers decorations omit-code-fragment
	true-color = always
    whitespace-error-style = 22 reverse
    line-numbers = true
	paging = never
	navigate = true
    hyperlinks = true
    hyperlinks-file-link-format = "vscode://file/{path}:{line}"
    zero-style = dim syntax
	theme = 1337

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none

    # hunk-header-style = line-number omit-code-fragment
	# hunk-header-decoration-style = none
    # hunk-header-file-style = red
    # hunk-header-line-number-style = "#067a00"
    # hunk-header-style = none

[diff]
	colorMoved = default
    tool = smartsynchronize
	context = 1

[merge]
    conflictstyle = diff3

[difftool]
	prompt = false
	colorMoved = default

[difftool "smartsynchronize"]
    cmd = /Applications/SmartSynchronize.app/Contents/MacOS/SmartSynchronize $LOCAL $REMOTE

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[gc]
	autoDetach = false
	writeCommitGraph = true
	auto = 0

[commit]
	gpgSign = false
	verbose = true

[pull]
	rebase = true
	prune = true
	twohead = ort

[tig]
	line-graphics = yes # Disable graphics characters
	tab-size = 4 # Number of spaces per tab
	mouse = no

[fetch]
	prune = true
	pruneTags = true

[gui]
	pruneDuringFetch = true

[gitflow "branch"]
	develop = master
	master =

[gitflow "prefix"]
	feature = feature/
	release = release/
	hotfix = hotfix/
	support = support/
	versiontag = v

[http]
	postBuffer = 524288000

[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22

[diff-so-fancy]
	first-run = true

[grep]
	extendRegexp = true
	lineNumber = true

[gpg]
	#program = gpg2

[submodule]
	recurse = true
	fetchJobs = 10

[ghq]
	root = ~/code

[rebase]
	stat = true
	autoStash = true

[smartgit "submodule"]
	fetchalways = false
	update = true
	initializenew = true

[taggrouping]
	groups =
	singles =

[protocol]
	version = 2
[credential]
	helper = $HOMEBREW_PREFIX/share/gcm-core/git-credential-manager-core
	helper =
	helper = /usr/local/share/gcm-core/git-credential-manager

# [url "ssh://git@github.com"]
# 	insteadOf = https://github.com
[url "ssh://github.com/"]
	pushInsteadOf = https://github.com/
[url "ssh://gitlab.com/"]
	pushInsteadOf = https://gitlab.com/
[credential "https://github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential
[user]
	name = Johan Borestad
	email = johan@borestad.com
[remote "origin"]
	tagopt = "--tags -f"
[credential "http://git.home.arpa"]
	provider = generic
[credential "https://diva.teliacompany.net"]
	provider = generic
[credential "https://dev.azure.com"]
	useHttpPath = true
[alias]
	trash = !mkdir -p .trash && git ls-files --others --exclude-standard | xargs mv -f -t .trash
