init-author-name=Johan Borestad
init-version=0.0.1
init-author-email=johan@borestad.com
init-author-url=http://borestad.com/
cache=~/.cache/npm-cache
pnpm-prefix=~/.local/share/pnpm
store-dir=~/.local/share/.pnpm-store
